

.name {
  padding: 10px 40px;
  height: 20vh;
  background-color: rgb(88, 24, 120);
  text-shadow: 3px 3px 4px;
  text-align: left; 
  color: aliceblue;
  font-size: 65px;
  font-weight: 500px;

} 

.name p {
    padding-left: 100px;
    text-shadow: 1px 1px;
  }

.tasks {
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .container {
  background-color: rgba(100, 20, 180, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(80, 0, 120, 0.2);
  align-items: center;
  justify-content: flex-start;
  margin-left: 400px; 
  margin-top: 70px; 
  padding: 20px 20px;
  margin-bottom: 30px;
  border-radius: 40px; 
}
.todoBody {
  background: url(/circle.jpg) no-repeat;
  height: 80vh;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
 
}  

.todoBody  h1 {
   
    font-size: 22px;
    text-align: center;
    color: rgb(114, 8, 105);
  }



.userDetails {
  background-color: rgba(120, 20, 160, 0.7);
  height: 150px; 
  width: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px; 
  align-items: center;

   
}

    
.userDetails input{
    margin-top: 10px;
    height: 20px;
    width: 150px;
    font-size: 10px;
    border-radius: 5px;
  }


  .userDetails  button{
    background-color: rgba(211, 131, 207, 0.3);
    margin-top: 20px;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #040404;
    font-size: 15px;
  }
  
   .userDetails button:hover {
    background-color: rgba(201, 182, 200, 0.521);
    width: 80px;
  }